<aside class="aside  typeset  aside--{{ include.align | default: 'right' }}">

  {% if page.layout == "post" %}
    <section class="section  section--related-posts">
      {% include post-related.html %}
    </section>

  {% elsif page.layout == "page" or page.layout == "home" or page.layout == "blog" %}
    <section class="section  section--description">
      <img src="/assets/images/photo.jpg" style="float: left; margin-left: 1px; margin-bottom: 10px; margin-top: 20px" width="400">
      <h5>Contact Me</h5>
      <ul>
        <li>{{ site.affiliation }} </li>
        <li>{{ site.address }}  </li>
        <li>Email: <a href="mailto:{{site.email}}">{{ site.email }} </a>; <a href="mailto:jingxianwen@live.cn">jingxianwen@live.cn</a></li>
      </ul>
    </section>

  {% elsif page.layout == "categories" %}
    <section class="section  section--category-index">
      <h3>Index</h3>
      {% include nav-categories.html %}
    </section>

  {% endif %}

</aside>
